/* This is the CSS page with all the custom css */

.bg-darkblue {
  background-color: #22211F;
}

@font-face {
    font-family: Hellix;
    src: url('Hellix-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }




@font-face {
  font-family: 'a_ape_mountregular' ;
  src: url('Fonts/webfontkit-20210304-234208/aapemount-webfont.woff2') format('woff2'),
       url('Fonts/webfontkit-20210304-234208/aapemount-webfont.woff') format('woff');

  }

body {
  /* font-family: Courier; */
  font-family: 'a_ape_mountregular' ;
  color: black;
}


.container{
  background-image: url('images/homepage_header.jpg');
}


.bg-darkblue {
  background-color: #22211F;
}



.bg-image {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
}


.dropdown-menu {

  background-color: transparent;
  border: none;
  margin-right: 10px;
}



.navbar {
  padding-right: 100px;
  min-height: 200px;
  margin-bottom: 0;
}

.nav-link {
  color: white;
}



#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
	#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}


.jumbotron {
 background: url('images/homepage_header.jpg') fixed center no-repeat;
 background-size: cover;
 margin-bottom: 0;
 padding-top: 20%;
}

.jumbotron aboutus_header{
 background: url('images/aboutus_header.jpg') fixed center no-repeat;
 background-size: cover;
 margin-bottom: 0;
 padding-top: 20%;
}
