/* This is the CSS page with all the custom css */

.bg-darkblue {
  background-color: #22211F;
}



body {

  font-family: Courier;

  color: white;

}


.navbar{
  min-height: 400px;
}


.bg-darkblue {

  background-color: #22211F;

}





.home_banner {

  background: url('images/lode-lagrainge-44wjflU1ATc-unsplash.jpg');

  background-size: cover;



}



.dropdown-menu {

  background-color: transparent;

  border: none;

  margin-right: 10px;



}



.navbar {

  padding-right: 100px;

}

#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
	#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
