/* This is the CSS page with all the custom css */

.bg-darkblue {
  background-color: #22211F;
}


@font-face {
    font-family: 'Hellix';
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

body {

  /* font-family: Courier; */
  font-family: 'Hellix';

  color: white;

}





.bg-darkblue {

  background-color: #22211F;

}





.home_banner {

  background: url('images/lode-lagrainge-44wjflU1ATc-unsplash.jpg');

  background-size: cover;



}



.dropdown-menu {

  background-color: transparent;

  border: none;

  margin-right: 10px;




}



.navbar {
  padding-right: 100px;

}

.nav-link {
  color: white;
}
