@font-face {
    font-family: Hellix;
    src: url('Hellix-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
  }

  /* local('Hellix Medium'), local('Hellix-Medium'),
      url('Hellix-Medium.woff2') format('woff2'), */
